:root {
  /* Primary colors */
  --light-cyan: hsl(193, 38%, 86%);
  --neon-green: hsl(150, 100%, 66%);

  /* Neutral colors */
  --dark-blue: hsl(218, 23%, 16%);
  --dark-grayish-blue: hsl(217, 19%, 24%);
  --grayish-blue: hsl(217, 19%, 38%);

  /* General */
  --bg-clr: var(--dark-blue);
  --ff: "Manrope", system-ui, -apple-system, sans-serif;
  --featured-clr: var(--neon-green);

  /* Advice */
  --advice-bg-clr: var(--dark-grayish-blue);
  --advice-quote-fs: 28px;
  --advice-quote-fw: 800;
  --advice-quote-clr: var(--light-cyan);

  /* Dice */
  --dice-bg-clr: var(--neon-green);
  --dice-img-size: 50px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  line-height: 1.15;
}

body {
  background-color: var(--bg-clr);
  font-family: var(--ff);
  font-size: 1rem;
}

img {
  max-width: 100%;
  display: block;
}

img::selection {
  background: none;
}

.featured-text {
  color: var(--featured-clr);
}

.wrapper {
  width: 90%;
  max-width: 1440px;
  min-height: 100vh;
  padding: 1rem 0;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.advice-container {
  width: 100%;
  max-width: 52ch;
  background-color: var(--advice-bg-clr);
  padding: 2rem 3rem;
  border-radius: 10px;
  text-align: center;
}

.advice-header {
  font-weight: 500;
  font-size: 0.8rem;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.advice-text {
  margin: 1.5rem 0;
}

.advice-quote {
  font-size: var(--advice-quote-fs);
  font-weight: var(--advice-quote-fw);
  color: var(--advice-quote-clr);
}

.advice-quote::before,
.advice-quote::after {
  content: none;
}

.divider {
  margin-bottom: 1.5rem;
}

.divider-img {
  margin: 0 auto;
  object-fit: cover;
  max-width: initial;
  width: 100%;
}

.divider-img.mobile {
  height: 20px;
}

.divider-img.desktop {
  display: none;
  height: 15px;
}

.dice-container {
  text-align: center;
}

.dice-button {
  cursor: pointer;
  border: 2px solid transparent;
  border-radius: 50px;
  outline: none;
  display: inline-block;
  padding: 1rem;

  margin-top: 0.5rem;
  /* (.dice-img height / 2) - .dice padding */
  margin-top: calc(-17.5px - 1rem);

  background-color: var(--dice-bg-clr);
  transition: box-shadow 0.15s;
}

.dice-button:hover {
  box-shadow: 0 0 30px 0 var(--dice-bg-clr);
  transition-delay: 0.1s;
  transition-duration: 0.3s;
}

.dice-img {
  width: 35px;
  height: 35px;
  object-fit: contain;
}

@media screen and (min-width: 375px) {
  .divider-img.mobile {
    display: none;
  }

  .divider-img.desktop {
    display: block;
  }

  .dice-button {
    margin-top: calc(-12.5px - 1rem);
  }

  .dice-img {
    width: 25px;
    height: 25px;
  }
}
